.messages {
	height: calc(100vh - 580px);
	padding-top: calc(var(--spacing) * 2.5);
	margin: var(--spacing-large) 0;
	border-radius: var(--border-radius);
	overflow-y: auto;

	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	& {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.message {
		&.msg-assistant {
			.dialogue {
				background-color: var(--creme);
				padding-top: calc(var(--spacing) * 3);


			}
		}

		&.msg-user {
			text-align: right;
		}

		pre {
			white-space: pre-wrap;
			font-size: x-small;
		}

		.actions {
			margin-bottom: -1.5em;
		}
	}

	.dialogue {
		position: relative;
		background-color: var(--cyan);
		display: inline-block;
		padding: 0 var(--spacing-large) 0;;
		border-radius: 10px;
		margin: 10px 0;
		line-height: 1.5em;
		max-width: 90%;
	}

	.dialogue p:not(:last-child),
	.dialogue ul:not(:last-child),
	.dialogue ol:not(:last-child) {
		margin-bottom: 2em;
	}

}

.input-area {
	display: flex;

	textarea {
		width: 100%;
		padding: var(--spacing);
		min-height: 4em;
		border-radius: var(--border-radius-small);
		border: 1px solid var(--light-gray);
		font-size: var(--font-size);

	}

	button {
		padding: 10px;
		background-color: #007BFF;
		color: white;
		border: none;
		cursor: pointer;
	}
}

