.character-list {
	list-style: none;
	padding: 0;
}

.character-list li {
	background-color: white;
	border: 1px solid #CCCCCC;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.character-list li:hover {
	background-color: #E9E9E9;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.character-name {
	font-size: 18px;
	font-weight: bold;
	color: #007BFF;
}

.character-description-short {
	font-size: 15px;
	color: #555555;
	margin-top: 5px;
}