* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html, body {
	height: 100%;
}

body {
	font-size: var(--font-size);
	line-height: var(--line-height);
}

.logo-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: var(--spacing);

	svg path {
		fill: var(--creme);
	}

	.logo-circle {
		max-height: 100px;
	}

	.logo-text {
		max-height: 50px;
	}
}