@import "styles/variables";
@import "styles/base/typography";
@import "styles/base/links";
@import "styles/base/buttons";
@import "styles/base/lists";
@import "styles/base/forms";
@import "styles/base/images";
@import "styles/base/generic";
@import "App";
@import "styles/components/user-area.scss";
@import "styles/components/character-list.scss";
@import "styles/components/character-card.scss";
@import "styles/components/character-images.scss";
@import "styles/components/character-sessions.scss";
@import "styles/components/scorecard.scss";
@import "styles/components/messages.scss";
@import "styles/components/tabbed-content.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
