.container {
	color: var(--font-color-dark);
}

.container-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--custom-orange);
	border-radius: var(--border-radius);
	padding: var(--spacing-large);
	margin: 0 0 calc(var(--spacing-large));

	h2 {
		margin: 0;
	}

	.content {
		display: flex;
		align-items: center;
		gap: var(--spacing-large);
	}
}



.actions,
.text-right  {
	text-align: right;
}

.center {
	text-align: center;
}
